@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Oculta la barra de scroll en Chrome, Safari y Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Oculta la barra de scroll en IE, Edge y Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

/* Opcional: Para que el scroll sea más fluido en móviles */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}